
:root{

    --base-shade-1: #9c8140;
    --white-shade-1: #fff;
    --white-shade-2: #d7e1f3;
    --black-shade-1: #232323;
    --black-shade-1: #4e4e4e;
    

    --base-font-size: 1.8rem;

    --heading-font-size-1:5rem;
    --heading-font-size-2:3.2rem;
    --heading-font-size-3:2rem;
    --heading-font-size-4:1.8rem;

    --border-radius-1: 1rem;
    --border-radius-2: 0.5rem;
}

/* Navigation Panel */
.navbar{
    background-color: rgba(5, 0, 17, 0.863);
}

.NavDropdown{
    color: #fff;
}


/* Homepage */

.Mainpage{
 background-color: rgb(5, 0, 17);
 width: 100%;
 height:90vh;
position: absolute;
}

.Mainpage h1{
    font-size: 45px;
 color: #d7e1f3;
 text-align: center;
 margin-top: 220px;
 font-family:sans-serif;
}
.Search-box{

    margin-left: 570px;
    margin-top: -70px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.directnames li{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: rgb(170, 170, 170);
  border: 0.2px solid rgba(214, 214, 214, 0.233);
}

.directnames{
    justify-content: center;
    text-align: center;
}

.directnames li:hover{
    
    background-color: #d7e1f3;
    color: #232323;
}

.works{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: normal;
    margin: 200px auto;
}
.worksdata{
    font-size: 20px;
    width: 50%;
   margin-left: 50px;
    text-align: left;
    margin-right: 70px;
    margin-top: 100px;
    padding: 10px;
}
.worksimage{
margin:0 100px;
margin-top: 100px;
width: 80%;
}
.headingworks{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
}
.works p{
    padding: 4px 20px;
}
.headingworkspara{
    margin-top: 10px;
}
.workspara{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4E4E4E;
    margin-top: 10px;
}
.imagework{
    width: 50%;
}

footer{
padding-top: 30px;
    background-color: #232323;
    background-size: cover;
    width: 100%;
    position: absolute;
    margin: 1200px auto;
    text-align: center;
    justify-items: center;

}

.footerhome h2{
  
    font-size: 15px;
    color: #d7e1f3;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.footerdata i{

font-size: 20px;
color: #d7e1f3;
padding: 20px 10px;

}

